<!doctype html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Add a photo</title>
  </head>

  <body>
    <nav>
      <a href="/admin/users/" method="GET">Admin</a> |
      <a href="/admin/add" method="GET">Add</a> |
      <a href="/admin/view" method="GET">View</a> |
    </nav>

    <p> Welcome to...the add page! You can add a photo to your {{user}} account</p>
    <form action="/admin/add/upload", method="POST"  enctype="multipart/form-data">
      <label for="file">Select a file:</label>
      <input type="file"  name="uploaded_file"><br><br>
      <input type="submit">
    </form>

  </body>
</html>


