<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Add Confirmation</title>
  </head>

  <body>
    <nav>
      <a href="/login/add" method="GET">Add</a> |
      <a href="/login/view" method="GET">View</a> |
    </nav>
    <p> Congratulations, you've added {{path}}  </p>
  </body>
</html>
