<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Add Confirmation</title>
  </head>

  <body>
    <nav>
      <a href="/login/add", method="GET">Add</a> |
      <a href="/login/view", method="GET">View</a> |
    </nav>

    <p> Welcome to...the Add Confirmation page! </p>
    <p> You've added {{path}} to your S3 bucket. </p>
    <p> Would you like to delete {{path}}? </p>
    <a href="/admin/delete?path={{path}}", method="GET">Delete photo</a>

  </body>
</html>
