<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AKP0048 UserAdmin List</title>
</head>

<body>

<p>Your Users -TEST TEST</p>

{{#each users as |User|}}

<p>Username:<a href="/admin/change?username={{username}}" method="GET">{{User.username}}</a> Full name: {{User.fullname}}  <a href="/admin/confirmDelete?user                                                        
name={{username}}" method="GET"> Delete </a> </p> <br/>
{{/each}}

<p>Click<a href="/admin" method="GET"> here</a> to return to homepage </p>

</body>
</html>

