<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AKP0048 UserAdmin List</title>
</head>

<body>
 <nav>
      <a href="/admin/users/" method="GET">Admin</a> |
      <a href="/admin/add" method="GET">Add a Photo</a> |
      <a href="/admin/listPhotos" method="GET">View Your Photos</a> |
      <a href="/admin/list" method="GET">List and Modify Current Users</a> |
      <a href="/admin/add" method ="GET">Add a User</a>
    </nav>


<p>Your Users</p>

{{#each users as |User|}}

 <p>Username:<a href="/admin/change?username={{username}}" method="GET">{{username}}</a> Full name: {{fullname}}
   <a href="/admin/confirmDelete?username={{username}}" method="GET"> Delete </a> </p> <br/>
{{/each}}

</body>
</html>

