<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Admin Add</title>
</head>

<body>

<p> Add a new user </p>
 <form id="addform"  action= "/admin/add" method="POST">
    User Name : <input type="text" name="userName" value="" required /> </br>
    Password: <input type="text" name="password" value="" required /> </br>
    Full Name: <input type="text" name="fullname" value="" required /> </br>
    <input type="submit" value="Add" />
 </form>
 
</body>
</html>
