<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AKP0048 UserAdmin WebApp</title>
</head>
<body>
<nav>
      <a href="/admin/users/" method="GET">Admin</a> |
      <a href="/admin/add" method="GET">Add a Photo</a> |
      <a href="/admin/listPhotos" method="GET">View Your Photos</a> |
      <a href="/admin/list" method="GET">List and Modify Current Users</a> |
      <a href="/admin/add" method ="GET">Add a User</a>
    </nav>
  
  <p>Change User Password for {{username}} </p>
 <form id="changePasswordForm"  action= "/admin/changePassword?username={{username}}" method="POST">
   user name: <input type="text" name="username" value=""/> </br>
   password: <input type="text" name="password" value="" /> </br>
   <input type="submit" value="Change" />
 </form>

 <p>Change Full Name for {{username}}</p>
 <form id="changeNameForm"  action= "/admin/changeName?username={{username}}" method="POST">
    user name: <input type="text" name="username" value=""/> </br>
   fullName: <input type="text" name="fullname" value="" /> </br>
    <input type="submit" value="Change" />
 </form>

</body>
</html>
