<!DOCTYPE html>
<html>
<head>
<title>Delete Confirmation</title>
</head>
<body>
<nav>
      <a href="/admin/users/" method="GET">Admin</a> |
      <a href="/admin/add" method="GET">Add a Photo</a> |
      <a href="/admin/listPhotos" method="GET">View Your Photos</a> |
      <a href="/admin/list" method="GET">List and Modify Current Users</a> |
      <a href="/admin/add" method ="GET">Add a User</a>
    </nav>



<p>Congrats!</p>
<p>You have added user {{username}}.</p>

</body>
</html>
[ec2-user