<!DOCTYPE html>
<html>
<head>
<title>Admin</title>
</head>
<body>
<ul>
<li><a href="/admin/users" method="GET">Admin Homepage</a></li>
<li><a href="/admin/show" method="GET">Show Photos</a></li>
<li><a href="/admin/add" method="GET">Add a Photo</a></li>
</ul>
<h1>Congrats!</h1>
<p>You've reached the admin page...</p>

</body>
</html>
