<!doctype html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Admin</title>
  </head>

  <body>
    <nav>
      <a href="/admin/users/" method="GET">Admin</a> |
      <a href="/admin/add" method="GET">Add a Photo</a> |
      <a href="/admin/listPhotos" method="GET">View Your Photos</a> |
      <a href="/admin/list" method="GET">List and Modify Current Users</a> |
      <a href="/admin/add" method ="GET">Add a User</a>
    </nav>

    <p> Hello {{user}}!  Welcome to...the admin page! </p>
    <p> Here you can...</p>
    <p><a href="/admin/list" method="GET">List your users, delete, and change passwords.</a></p>
    <p><a href="/admin/add" method="GET">Add a user.</a></p>
  </body>
</html>

