<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Delete Check</title>
</head>
<body>
<nav>
  <a href="/admin/users/">Admin</a> |
  <a href="/admin/add">Add</a> |
  <a href="/admin/view">View</a> |
</nav>

<p> Are you sure that you want to delete this?! </p>
</body>
</html>

