<!DOCTYPE html>
<html>
<head>
<title>Delete Check</title>
</head>
<body>
<ul>
<li><a href="/admin/users" method="GET">Admin Homepage</a></li>
<li><a href="/admin/show" method="GET">Show Photos</a></li>
<li><a href="/admin/add" method="GET">Add a Photo</a></li>
</ul>
<h1>Wait!</h1>
<p>Are you sure you want to delete...</p>

</body>
</html>
