<!doctype html>
<head>
<title>Delete Confirmation for {{username}}</title>
<meta charset="UTF-8">
</head>
<body>
<h2>Click <a href="/admin/delete?username={{username}}" method="GET"> here</a> to delete {{username}}.</h2>
<h2>Click<a href="/admin" method="GET"> here</a> to return to homepage </h2>
</body>

</html>
