<!DOCTYPE html>
<html>
<head>
<title>Home</title>
</head>
<body>
<ul>
<li><a href="/admin/users" method="GET">Admin Homepage</a></li>
<li><a href="/admin/show" method="GET">Show Photos</a></li>
<li><a href="/admin/add" method="GET">Add a Photo</a></li>
</ul>
<h1>Hello!</h1>
<p>Welcome to the image gallery app!</p>

</body>
