<!DOCTYPE html>

<html>
  <head>
  <meta charset="utf-8">
  <title>Login</title>
</head>
<body>
<nav>
  <a href="/admin/users/" method="GET">Admin</a> |
  <a href="/admin/add" method="GET">Add</a> |
  <a href="/admin/view", method="GET">View</a> |
</nav>

<p> Welcome to...the login page! </p>

<form action="/login" method="post">
<label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>
<label for="password"><b>Password</b></label>
<input type="password" placeholder="Enter Password" name="password" required>
<button type="submit">Login</button>
</form>





</body>
</html>
