<!doctype html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Regular User</title>
  </head>

  <body>
        <p> Hello {{user}} Welcome to...the regular user page! </p>
	<p> Not too much to do here...</p>

  
  </body>
</html>
