<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>

  <body>
    <nav>
      <a href="/login/add" method="GET">Add</a> |
      <a href="/login/view" method="GET">View</a> |
    </nav>
    <p> Hello {{user}}!  Welcome to...your home page! </p>
  </body>
</html>
